.letter{
    width: 600px;
    height: 200px;
    // background-color: #dcb253;
    background: rgb(161,119,25);
    background: linear-gradient(169deg, rgba(161,119,25,1) 0%, rgba(245,206,115,1) 100%);
    position: relative;
    transition: transform 2s;
    margin : 0 1rem;
    animation: appearBottomToTop 2s, animLetter 1s 2s forwards;
    border-radius: 0 0 20px 20px;
    z-index: 10;
    .papier{
        height: 0px;
        max-width: 500px;
        width: 100%;
        background: #212121;
        background: linear-gradient(0deg, rgb(70, 70, 70) 0%, rgba(33,33,33,1) 60%);
        position: absolute;
        border-radius: 10px 10px 0 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        animation: growUp 1s forwards;
        animation-delay: 2s;
        opacity: 1;
        transition: 2s;
        animation: growUp 2s 2s forwards;
        z-index: 5;
        label,input,textarea,i{
            opacity: 0;
            display: block;
            animation: champsLetter 0.5s  forwards;
            margin: auto;
        }
        label{
            text-align: center;
            margin: 1rem 0 2rem 0;
            font-size: 1.5rem;
        }
        .label-email{
            animation-delay: 2s;
        }
        #email{
            animation-delay: 2.1s;
            width: 60%;
            padding : 0.2rem;
            background-color: #cecece;
            outline: none;
            border: transparent 2px solid;
            &:focus{
                border: rgb(170, 119, 10) 2px solid;
            }
        }
        .label-message{
            animation-delay: 2.2s;
        }
        #message{
            animation-delay: 2.5s;
            width: 80%;
            resize: none;
            height: 40%;
            padding: 0.5rem;
            background-color: #cecece;
            outline: none;
            border: transparent 2px solid;
            &:focus{
                border: rgb(170, 119, 10) 2px solid;
            }
        }
        .erreur{
            text-align: center;
            margin: 1rem auto;
            width: 70%;
            color: rgb(221,189,118);
        }
        .icon{
            display: flex;
            justify-content: flex-end;
            position: absolute;
            bottom : 1rem;
            right: 1rem;
            cursor: pointer;
            i{
                animation-delay: 3s;
                font-size: 2rem;
            }
        }

    }

    .top{
        clip-path: polygon(0 0,100% 0,50% 50%);
        width: 100%;
        height: 100%;
        background: rgb(161,119,25);
        background: linear-gradient(169deg, rgba(161,119,25,1) 0%, rgba(245,206,115,1) 100%);
        transition: all 1s;
        transform-origin: 100px 0px;
        animation: animTopLetter 1s 1.5s forwards;
    }

}