.popUp{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000, $alpha: 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    animation: appearRightToLeft 1s forwards;
    .close{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 3rem;
        cursor: pointer;
        z-index: 20;
    }
}